<html>
<head>
	<title>Generated logo report</title>
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	<style>
		body {
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			color: #333;
		}
		button {
			background-color: #fff;
			padding: 8px 8px;
			font-size: 16px;
			border: none;
		}

		button.active {
			background-color: #36c;
			color: white;
		}
		table td {
			text-align: center;
			vertical-align: center;
			padding: 4px;
			background-color: rgba(0,0,0,0.05);
		}
		table td.empty {
			background-color: rgba(255, 0, 0, 0.1);
		}

		table img {
			background-color: white;
			max-width: 140px;
			max-height: 140px;
		}
		/* new layout demo */
		td.demo {
			background-color: #fff;
		}
		.logo {
			height: 54px;
			width: fit-content;
			display: flex;
			margin-bottom: 40px;
		}

		.left-container {
			margin-right: 10px;
			width: 50px;
			height: 50px;
			align-self: center;
		}

		.icon {
			width: 50px;
			height: 50px;
		}

		.right-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			align-self: center;
		}

		.mb-4 {
			margin: 0 0 4px 0;
		}
	</style>
</head>

<body x-data="{ tab: 'wikipedia' }">
	<h1>Generated logo report</h1>

	<button :class="{ 'active': tab === 'wikipedia' }"  @click="tab = 'wikipedia'">
		Wikipedia <br/>
		<small>w:{{wiki.totals.wordmarks}} t:{{wiki.totals.taglines}}</small>
	</button>

	<button :class="{ 'active': tab === 'wikibooks' }"  @click="tab = 'wikibooks'">
		Wikibooks <br/>
		<small>w:{{wikibooks.totals.wordmarks}} t:{{wikibooks.totals.taglines}}</small>
	</button>

	<button :class="{ 'active': tab === 'wikiquote' }"  @click="tab = 'wikiquote'">
		Wikiquote <br/>
		<small>w:{{wikiquote.totals.wordmarks}}</small>
	</button>

	<button :class="{ 'active': tab === 'wikisource' }"  @click="tab = 'wikisource'">
		Wikisource <br/>
		<small>w:{{wikisource.totals.wordmarks}}</small>
	</button>

	<button :class="{ 'active': tab === 'wiktionary' }"  @click="tab = 'wiktionary'">
		Wiktionary <br/>
		<small>w:{{wiktionary.totals.wordmarks}} t:{{wiktionary.totals.taglines}}</small>
	</button>

	<button :class="{ 'active': tab === 'wikinews' }"  @click="tab = 'wikinews'">
		Wikinews <br/>
		<small>w:{{wikinews.totals.wordmarks}}</small>
	</button>

	<button :class="{ 'active': tab === 'wikiversity' }"  @click="tab = 'wikiversity'">
		Wikiversity <br/>
		<small>w:{{wikiversity.totals.wordmarks}}</small>
	</button>
	<hr>

	<table x-show="tab === 'wikipedia'">
		<thead>
			<tr>
				<td>Wikipedia</td>
				<td>originals ({{wiki.totals.originals}})</td>
				<td>wordmarks ({{wiki.totals.wordmarks}}, {{wiki.totals.wordmarksPer}}%)</td>
				<td>taglines ({{wiki.totals.taglines}}, {{wiki.totals.taglinesPer}}%)</td>
			</tr>
		</thead>
		<tbody>
			{{#each wiki}}
			{{#if original}}
			<tr>
				<td><a href="https://{{@key}}.wikipedia.org">{{@key}}</a></td>
				<td><img loading="lazy" src="{{original}}"/></td>
				<td {{#unless wordmark}}class="empty"{{/unless}}>
					{{#if wordmark}}<img loading="lazy" src="{{wordmark}}"/>{{/if}}
				</td>
				<td {{#unless tagline}}class="empty"{{/unless}}>
					{{#if tagline}}<img loading="lazy" src="{{tagline}}"/>{{/if}}
				</td>
				<td class="demo">
					{{#if wordmark}}
					<div class="logo">
						<div class="left-container">
							<img loading="lazy" class="icon wikipedia" src="./optimized-logos/wikipedia.svg">
						</div>
						<div class="right-container">
							<img loading="lazy" class="wordmark mb-4" src="{{wordmark}}"/>
							<img loading="lazy" class="tagline" src="{{tagline}}"/>
						</div>
					</div>
					{{/if}}
				</td>
			</tr>
			{{/if}}
			{{/each}}
		</tbody>
	</table>


	<table x-show="tab === 'wikibooks'">
		<thead>
			<tr>
				<td>Wikibooks</td>
				<td>originals ({{wikibooks.totals.originals}})</td>
				<td>wordmarks ({{wikibooks.totals.wordmarks}}, {{wikibooks.totals.wordmarksPer}}%)</td>
				<td>taglines ({{wikibooks.totals.taglines}}, {{wikibooks.totals.taglinesPer}}%)</td>
			</tr>
		</thead>
		<tbody>
			{{#each wikibooks}}
			{{#if original}}
			<tr>
				<td><a href="https://{{@key}}.wikipedia.org">{{@key}}</a></td>

				<td><img loading="lazy" src="{{original}}"/></td>

				<td {{#unless wordmark}}class="empty"{{/unless}}>
					{{#if wordmark}}<img loading="lazy" src="{{wordmark}}"/>{{/if}}
				</td>

				<td {{#unless tagline}}class="empty"{{/unless}}>
					{{#if tagline}}<img loading="lazy" src="{{tagline}}"/>{{/if}}
				</td>

				<td class="demo">
					{{#if wordmark}}
					<div class="logo">
						<div class="left-container">
							<img loading="lazy" class="icon wikibooks" src="./optimized-logos/wikibooks.svg">
						</div>
						<div class="right-container">
							<img loading="lazy" class="wordmark mb-4" src="{{wordmark}}"/>
							<img loading="lazy" class="tagline" src="{{tagline}}"/>
						</div>
					</div>
					{{/if}}
				</td>

			</tr>
			{{/if}}
			{{/each}}
		</tbody>
	</table>

	<table x-show="tab === 'wikiquote'">
		<thead>
			<tr>
				<td>Wikibooks</td>
				<td>originals ({{wikiquote.totals.originals}})</td>
				<td>wordmarks ({{wikiquote.totals.wordmarks}}, {{wikiquote.totals.wordmarksPer}}%)</td>
				<td>taglines ({{wikiquote.totals.taglines}}, {{wikiquote.totals.taglinesPer}}%)</td>
			</tr>
		</thead>
		<tbody>
			{{#each wikiquote}}
			{{#if original}}
			<tr>
				<td><a href="https://{{@key}}.wikipedia.org">{{@key}}</a></td>

				<td><img loading="lazy" src="{{original}}"/></td>

				<td {{#unless wordmark}}class="empty"{{/unless}}>
					{{#if wordmark}}<img loading="lazy" src="{{wordmark}}"/>{{/if}}
				</td>

				<td {{#unless tagline}}class="empty"{{/unless}}>
					{{#if tagline}}<img loading="lazy" src="{{tagline}}"/>{{/if}}
				</td>

				<td class="demo">
					{{#if wordmark}}
					<div class="logo">
						<div class="left-container">
							<img loading="lazy" class="icon wikibooks" src="./optimized-logos/wikiquote.svg">
						</div>
						<div class="right-container">
							<img loading="lazy" class="wordmark mb-4" src="{{wordmark}}"/>
							<img loading="lazy" class="tagline" src="{{tagline}}"/>
						</div>
					</div>
					{{/if}}
				</td>
			</tr>
			{{/if}}
			{{/each}}
		</tbody>
	</table>


	<table x-show="tab === 'wikisource'">
		<thead>
			<tr>
				<td>Wikisource</td>
				<td>originals ({{wikisource.totals.originals}})</td>
				<td>wordmarks ({{wikisource.totals.wordmarks}}, {{wikisource.totals.wordmarksPer}}%)</td>
				<td>taglines ({{wikisource.totals.taglines}}, {{wikisource.totals.taglinesPer}}%)</td>
			</tr>
		</thead>
		<tbody>
			{{#each wikisource}}
			{{#if original}}
			<tr>
				<td><a href="https://{{@key}}.wikipedia.org">{{@key}}</a></td>
				<td><img loading="lazy" src="{{original}}"/></td>
				<td {{#unless wordmark}}class="empty"{{/unless}}>
					{{#if wordmark}}<img loading="lazy" src="{{wordmark}}"/>{{/if}}
				</td>
				<td {{#unless tagline}}class="empty"{{/unless}}>
					{{#if tagline}}<img loading="lazy" src="{{tagline}}"/>{{/if}}
				</td>

				<td class="demo">
					{{#if wordmark}}
					<div class="logo">
						<div class="left-container">
							<img loading="lazy" class="icon wikisource" src="./optimized-logos/wikisource.svg">
						</div>
						<div class="right-container">
							<img loading="lazy" class="wordmark mb-4" src="{{wordmark}}"/>
							<img loading="lazy" class="tagline" src="{{tagline}}"/>
						</div>
					</div>
					{{/if}}
				</td>

			</tr>
			{{/if}}
			{{/each}}
		</tbody>
	</table>

	<table x-show="tab === 'wiktionary'">
		<thead>
			<tr>
				<td>Wiktionary</td>
				<td>originals ({{wiktionary.totals.originals}})</td>
				<td>wordmarks ({{wiktionary.totals.wordmarks}}, {{wiktionary.totals.wordmarksPer}}%)</td>
				<td>taglines ({{wiktionary.totals.taglines}}, {{wiktionary.totals.taglinesPer}}%)</td>
			</tr>
		</thead>
		<tbody>
			{{#each wiktionary}}
			{{#if original}}
			<tr>
				<td><a href="https://{{@key}}.wikipedia.org">{{@key}}</a></td>

				<td><img loading="lazy" src="{{original}}"/></td>

				<td {{#unless wordmark}}class="empty"{{/unless}}>
					{{#if wordmark}}<img loading="lazy" src="{{wordmark}}"/>{{/if}}
				</td>

				<td {{#unless tagline}}class="empty"{{/unless}}>
					{{#if tagline}}<img loading="lazy" src="{{tagline}}"/>{{/if}}
				</td>

				<td class="demo">
					{{#if wordmark}}
					<div class="logo">
						<div class="left-container">
							<img loading="lazy" class="icon wikibooks" src="./optimized-logos/wikibooks.svg">
						</div>
						<div class="right-container">
							<img loading="lazy" class="wordmark mb-4" src="{{wordmark}}"/>
							<img loading="lazy" class="tagline" src="{{tagline}}"/>
						</div>
					</div>
					{{/if}}
				</td>

			</tr>
			{{/if}}
			{{/each}}
		</tbody>
	</table>

	<table x-show="tab === 'wikinews'">
		<thead>
			<tr>
				<td>Wikinews</td>
				<td>originals ({{wikinews.totals.originals}})</td>
				<td>wordmarks ({{wikinews.totals.wordmarks}}, {{wikinews.totals.wordmarksPer}}%)</td>
				<td>taglines ({{wikinews.totals.taglines}}, {{wikinews.totals.taglinesPer}}%)</td>
			</tr>
		</thead>
		<tbody>
			{{#each wikinews}}
			{{#if original}}
			<tr>
				<td><a href="https://{{@key}}.wikipedia.org">{{@key}}</a></td>
				<td><img loading="lazy" src="{{original}}"/></td>
				<td {{#unless wordmark}}class="empty"{{/unless}}>
					{{#if wordmark}}<img loading="lazy" src="{{wordmark}}"/>{{/if}}
				</td>
				<td {{#unless tagline}}class="empty"{{/unless}}>
					{{#if tagline}}<img loading="lazy" src="{{tagline}}"/>{{/if}}
				</td>

				<td class="demo">
					{{#if wordmark}}
					<div class="logo">
						<div class="left-container">
							<img loading="lazy" class="icon wikinews" src="./optimized-logos/wikinews.svg">
						</div>
						<div class="right-container">
							<img loading="lazy"class="wordmark mb-4" src="{{wordmark}}"/>
							<img loading="lazy" class="tagline" src="{{tagline}}"/>
						</div>
					</div>
					{{/if}}
				</td>
			</tr>
			{{/if}}
			{{/each}}
		</tbody>
	</table>

	<table x-show="tab === 'wikiversity'">
		<thead>
			<tr>
				<td>Wikiversity</td>
				<td>originals ({{wikiversity.totals.originals}})</td>
				<td>wordmarks ({{wikiversity.totals.wordmarks}}, {{wikiversity.totals.wordmarksPer}}%)</td>
				<td>taglines ({{wikiversity.totals.taglines}}, {{wikiversity.totals.taglinesPer}}%)</td>
			</tr>
		</thead>
		<tbody>
			{{#each wikiversity}}
			{{#if original}}
			<tr>
				<td><a href="https://{{@key}}.wikipedia.org">{{@key}}</a></td>
				<td><img loading="lazy" src="{{original}}"/></td>
				<td {{#unless wordmark}}class="empty"{{/unless}}>
					{{#if wordmark}}<img loading="lazy" src="{{wordmark}}"/>{{/if}}
				</td>
				<td {{#unless tagline}}class="empty"{{/unless}}>
					{{#if tagline}}<img loading="lazy" src="{{tagline}}"/>{{/if}}
				</td>
				<td class="demo">
					{{#if wordmark}}
					<div class="logo">
						<div class="left-container">
							<img loading="lazy" class="icon wikiversity" src="./optimized-logos/wikiversity.svg">
						</div>
						<div class="right-container">
							<img loading="lazy" class="wordmark mb-4" src="{{wordmark}}"/>
							<img loading="lazy" class="tagline" src="{{tagline}}"/>
						</div>
					</div>
					{{/if}}
				</td>
			</tr>
			{{/if}}
			{{/each}}
		</tbody>
	</table>
</body>

</html>
